.forecast-discussion{
    border:2px solid black;
    text-align:center;

    
    
}

.forecast-discussion-text{
        text-align:left
}

@media (min-width:1000px){
    .forecast-discussion-text-box{
        display:flex;
        margin-right:25vw;
        margin-left:25vw;
    }
}
@media (max-width:1000px){
    .forecast-discussion-text-box{
        display:flex;
        margin-right:5vw;
        margin-left:5vw;
    }
}

p{
    white-space:pre-line;
}