body {
  background-color:rgb(240, 240, 229);
}

h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



.icon{
  height:300px;

  margin-bottom:20px;
  margin-right:30px;
}

p {
  font-size:clamp(12px,2.5vh,30px);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav ul div  {
  display:flex;
  justify-content:space-around;
  list-style-type:none;
  background-color:rgb(213, 213, 204);
  margin-right:clamp(25vw,25vw,1000px);
  margin-top:50px;
  margin-bottom:50px;
  font-family:sans-serif;
  font-size:24px;
  padding:20px;
  padding-right:40px;
  padding-left:40px;
  border-radius:5em;


}

nav ul div li{
  text-decoration:none;
}

a:hover{
  background-color:gray;
}

.one-line{
  display:flex;
}

.logo{
  width:80px;
}

.about{
  margin-right:clamp(40%,40%,400px);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

}

.home{
  display:flex;
  flex-direction:row;
  flex-flow:row wrap;
  flex-wrap:wrap;
}

table th {
  font-size:18px;
}

table, tr, td {
  border:1px solid black;
  font-size:24px;
  
}

.embed {
  width:80vw;
  height:80vh
}

.presentations button div img {
  width:30vw;
}



.disappear {
  display: none;
}

@media (min-width: 1000px) {
  .toggle-menu {
    display: none;
  }
  .disappear {
    display: block;
  }
}

@media (max-width: 1000px) {
  .navigation-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .menu {
    width: 80%;
  }
  .toggle-menu {
    width: 5em;
  }
}

.go-to-marine{
  height:3em;
}

.presentations button {
  width:100em;
}