.icon{
  height:300px;

  margin-bottom:20px;
  margin-right:30px;
}

p {
  font-size:clamp(12px,2.5vh,30px);
  font-family:Georgia, 'Times New Roman', Times, serif
}

nav ul {
  display:flex;
  justify-content:space-around;
  list-style-type:none;
  background-color:beige;
  margin-right:clamp(25vw,25vw,1000px);
  margin-top:50px;
  margin-bottom:50px;
  font-family:sans-serif;
  font-size:24px;
  padding:20px;
  padding-right:40px;
  padding-left:40px;
  

}

nav ul li{
  display:flex;
  border:10px;
  color:bisque;
  
}

a:hover{
  background-color:gray;
}

.one-line{
  display:flex;
}

.logo{
  width:80px;
}

.about{
  margin-right:clamp(40%,40%,400px);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

}

.home{
  display:flex;
  flex-direction:row;
  flex-flow:row wrap;
  flex-wrap:wrap;
}

table th {
  font-size:18px;
}

table, tr, td {
  border:1px solid black;
  font-size:24px;
  
}

.embed {
  width:80vw;
  height:80vh
}

.presentations button div img {
  width:30vw;
}